<header class="flex justify-between p-4 items-center bg-black text-white">
  <h1 class="text-3xl font-bold">
    <a href="/">Boxes4U</a>
  </h1>

  <nav>
    <div class="p-4 cursor-pointer md:hidden">Menu</div>

    <div class="hidden md:flex md:gap-4">
      <a href="/" class="link">Home</a>
      <a href="/shop" class="link">Shop</a>
      {% if session.user_id %}
      <a href="/cart" class="link">Cart
        (<span id="cart-count">{{session["cart"]|length}}</span>)
      </a>
      <a href="/orders" class="link">Orders</a>
      {% if session.is_admin %}
      <a href="/admin" class="link">Admin</a>
      {% endif %}
      <a href="/logout" class="link">Logout</a>
      {% else %}
      <a href="/login" class="link">Login</a>
      {% endif %}
    </div>

  </nav>

</header>