{% extends 'base.html' %}
{% block title %}Boxes4U | Home{% endblock %}

{% block header %}
{% include 'shared/header.html' %}
{% include 'shared/hero.html' %}
{% endblock %}

{% block content %}
<section class="products">
  <h2>Products</h2>

  <div class="product-items">
    {% for box in products %}
    <div class="product-item">
      <img src="{{ box.image_url }}" alt="{{ box.name }}" class="product-image">

      <div class="product-info">
        <h3>{{ box.name }}</h3>
        <a href="/shop/{{ box.id }}" class="btn">View Details</a>
      </div>
    </div>
    {% endfor %}
  </div>

  <a href="/shop" class="btn btn-primary">View All Products</a>
</section>
{% endblock%}