{% extends 'shared/auth.html' %}

{% block title %}Login{% endblock %}

{% block heading %}Login{% endblock %}

{% block description %}Please enter your credentials to login.{% endblock %}

{% set action_value = "/login" %}

{% block form_content %}
<div class="form-group">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" required>
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input type="password" id="password" name="password" required>
</div>
{% endblock %}

{% block button_text %}Login{% endblock %}