{% extends 'base.html' %}

{% block title %}Shop | Boxes4U{% endblock %}

{% block header %}
{% include 'shared/header.html' %}
{% endblock %}

{% block content %}
<div class="flex flex-col justify-center">
  <h1 class="text-2xl font-bold mt-8">Shop</h1>
  <p class="text-gray-700">Explore our range of products.</p>


  {% if products|length == 0 %}
  <div class="text-center mt-12">
    <h1 class="text-2xl font-bold">No products available</h1>
    <p class="text-gray-700">Please check back later.</p>
  </div>
  {% endif %}

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 mt-16 mb-16">
    <!-- Category Filter -->
    {% if categories %}
    {% include 'partials/category-filter.html' %}
    {% endif %}

    {% for product in products %}
    <!-- Product Card -->
    {% include 'partials/product-card.html' %}
    {% endfor %}
  </div>
</div>

{% endblock %}